manifest {
    name            = 'nextflow-htsget'
    author          = 'Seqera Pipelines'
    description     = 'Demonstration pipeline that downloads GA4GH HTSGET data via three methods.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.10.0'
}

params {
    outdir                     = 'results'
    samplesheet                = 'samplesheet.csv'
    workdir                    = 'work'
    monochrome_logs            = false
    validate_params            = true
    config_profile_name        = 'standard'
    config_profile_description = 'Run locally using the bundled Docker image'
}

workDir = params.workdir ?: 'work'


docker {
    enabled     = true
    runOptions  = '-u $(id -u):$(id -g)'
}

singularity {
    enabled = false
}

podman {
    enabled = false
}

charliecloud {
    enabled = false
}

shifter {
    enabled = false
}

apptainer {
    enabled = false
}

conda {
    enabled = false
}

process {
    executor  = 'local'
    container = 'docker.io/qclayssen/nextflow-htsget:latest'
}

profiles {
    standard {
        params.config_profile_name        = 'standard'
        params.config_profile_description = 'Run locally using the bundled Docker image'
    }

    docker {
        docker.enabled                    = true
        docker.runOptions                 = '-u $(id -u):$(id -g)'
        singularity.enabled               = false
        podman.enabled                    = false
        charliecloud.enabled              = false
        shifter.enabled                   = false
        apptainer.enabled                 = false
        conda.enabled                     = false
        params.config_profile_name        = 'docker'
        params.config_profile_description = 'Docker profile for containerized execution'
    }
}

plugins {
    id 'nf-schema@2.4.2'
}

validation {
    enabled        = params.validate_params
    monochromeLogs = params.monochrome_logs
}

trace {
    enabled = true
}
