manifest {
    name = 'nextflow-htsget'
    author = 'Seqera Pipelines'
    description = 'Demonstration pipeline that downloads GA4GH HTSGET data via three methods.'
}

params {
    outdir = 'results'
    samplesheet = 'samplesheet.csv'
}

docker {
    enabled = true
}

process {
    container = 'docker.io/qclayssen/nextflow-htsget:latest'
}

trace {
    enabled = true
}
