manifest {
    name            = 'nextflow-htsget'
    author          = 'Seqera Pipelines'
    description     = 'Demonstration pipeline that downloads GA4GH HTSGET data via three methods.'
    homePage        = 'https://github.com/quentinclayssen/nextflow-htsget'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=23.10.0'
    version         = '0.1.0'
}

params {
    outdir                     = null
    samplesheet                = null
    workdir                    = null
    publish_dir_mode           = 'copy'
    htsget_urls                = ''
    htsget_filetype            = null
    monochrome_logs            = false
    validate_params            = true
    help                       = false
    help_full                  = false
    show_hidden                = false
    version                    = false
    trace_report_suffix        = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
    max_cpus                   = 4
    max_memory                 = '16.GB'
    max_time                   = '8.h'
    config_profile_name        = 'standard'
    config_profile_description = 'Local docker demo profile'
}

def resolvedWorkDir = params.workdir?.toString()?.trim()
if (!resolvedWorkDir) {
    resolvedWorkDir = 'work'
}

workDir = resolvedWorkDir


docker {
    enabled     = true
    runOptions  = '-u $(id -u):$(id -g)'
}

singularity {
    enabled = false
}

podman {
    enabled = false
}

charliecloud {
    enabled = false
}

shifter {
    enabled = false
}

apptainer {
    enabled = false
}

conda {
    enabled = false
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

process {
    executor  = 'local'
    container = 'docker.io/qclayssen/nextflow-htsget:latest'
    scratch   = resolvedWorkDir
}

process.shell = [
    'bash',
    '-e',
    '-u',
    '-o',
    'pipefail'
]

nextflow.enable.configProcessNamesValidation = false

profiles {
    standard {
        params.config_profile_name        = 'standard'
        params.config_profile_description = 'Local docker demo profile'
    }

    docker {
        docker.enabled                    = true
        docker.runOptions                 = '-u $(id -u):$(id -g)'
        singularity.enabled               = false
        podman.enabled                    = false
        charliecloud.enabled              = false
        shifter.enabled                   = false
        apptainer.enabled                 = false
        conda.enabled                     = false
        params.config_profile_name        = 'docker'
        params.config_profile_description = 'Docker profile for containerized execution'
    }
}

plugins {
    id 'nf-schema@2.4.2'
}

validation {
    enabled        = params.validate_params
    monochromeLogs = params.monochrome_logs
    help {
        enabled = true
        command = "nextflow run . -profile standard --samplesheet samplesheet.csv --outdir <OUTDIR>"
        fullParameter = 'help_full'
        showHiddenParameter = 'show_hidden'
    }
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}
