process {
    withName: 'FETCH_WITH_CLI' {
        cpus   = 1
        memory = 2.GB
        time   = 30.m
    }

    withName: 'FETCH_WITH_PYTHON' {
        cpus   = 1
        memory = 2.GB
        time   = 30.m
    }

    withName: 'FETCH_WITH_CURL' {
        cpus   = 1
        memory = 1.GB
        time   = 10.m
    }
}