process {
    withName: 'FETCH_FILE_PYTHON' {
        cpus   = 1
        memory = 2.GB
        time   = 30.m
    }

    withName: 'FETCH_FILE_CLI' {
        cpus   = 1
        memory = 2.GB
        time   = 30.m
    }

    withName: 'RUN_FASTQC' {
        cpus   = 2
        memory = 4.GB
        time   = 1.h
    }

    withName: 'RUN_SAMTOOLS_STATS' {
        cpus   = 2
        memory = 4.GB
        time   = 1.h
    }

    withName: 'RUN_BCFTOOLS_STATS' {
        cpus   = 2
        memory = 4.GB
        time   = 1.h
    }

    withName: 'MULTIQC' {
        cpus   = 2
        memory = 4.GB
        time   = 1.h
    }
}
